<div *ngIf="lista">
	<div class="card-body">
		<p><strong>Descripción:</strong> {{ lista.descripcion }}</p>
		<p><strong>Fecha de creación:</strong> {{ lista.fechaCreacion | date:'dd/MM/yyyy' }}</p>
		
		<!-- Filtro de tareas -->
		<div class="filtros" *ngIf="lista.tareas.length > 0">
			<label for="filtroTareas" class="form-label mb-0"><strong>Filtrar tareas:</strong></label>
			<select id="filtroTareas" class="form-select form-select-sm w-auto" [(ngModel)]="filtroTareas" name="filtroTareas">
				<option value="todas">Todas</option>
				<option value="acabadas">Acabadas</option>
				<option value="noAcabadas">No acabadas</option>
			</select>
		</div>

		<div>
			<app-tarea
				*ngFor="let tarea of tareasFiltradas"
				[tarea]="tarea"
				(cambiarEstado)="toggleTareaAcabada(tarea)">
			</app-tarea>
		</div>

		<button class="button btn btn-sm btn-primary" (click)="cerrar()">
			Ocultar detalle
		</button>
	</div>
</div>
